{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% load url from future %}

{% block title %}{% trans "Welcome to our firmware kitchen" %}{% endblock %}

{% block content %}
{% if user.is_authenticated and user.networks_with_perms %}
  <h2>{% trans "My Networks" %}</h2>
  <ul>
  {% for object in user.networks_with_perms %}
    {% include "firmcreator/network_object.html" %}
  {% endfor %}
  </ul>
{% else %}
<p>{% trans "To create a firmware for your network you only need to follow this steps" %}:</p>
<ul>
  <li>
    <a href="/accounts/register?next=/">{% trans "register" %}</a>
  </li>
  <li>
    <a href="{% url 'network-create' %}">{% trans "create your network" %}</a>
  </li>
  <li>
    <a href="{% url 'fwprofile-create-simple' %}">{% trans "create your firmware profile" %}</a>
  </li>
</ul>
{% endif %}

{% endblock %}

