{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Diff for profiles"%} <em>{{profile}}</em>{% endblock %}

{% block content %}
<style>{{ style|safe }}</style>
<h2>{% trans "Files diff" %}</h2>
<h3>{% trans "Added" %}</h3>
{% for filename, code in added %}
<div class="pre-scrollable">
{{ code|safe }}
</div>
{% endfor %}

<h3>{% trans "Removed" %}</h3>
{% for filename, code in removed %}
<div class="pre-scrollable">
{{ code|safe }}
</div>
{% endfor %}

<h3>{% trans "Changed" %}</h3>
{% for filename, code in changed %}
<div class="pre-scrollable">
{{ code|safe }}
</div>
{% endfor %}
{% endblock %}

