{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Welcome to our firmware kitchen" %}{% endblock %}

{% block content %}

<p>{% trans "To create a firmware for your network you only need to follow this steps" %}:</p>
<ul>
  <li>
    <a href="/accounts/register?next=/">{% trans "register" %}</a>
  </li>
  <li>
    <a href="/network/create/">{% trans "create your network" %}</a>
  </li>
  <li>
    <a href="/fwprofile/create/">{% trans "create your firmware profile" %}</a>
  </li>
</ul>

{% endblock %}

