{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% load url from future %}

{% block title %}{% if object %}{% trans "Edit" %}{% else %}{% trans "Create" %}{% endif %}{% trans " Network" %}{% endblock %}

{% block extra_head %}{% include "map_header.html" %}{% endblock %}

{% block content %}
<div class="span5">
<form class="form-horizontal" method="post" action=".">{% csrf_token %}
{{ form|crispy }}
<div class="form-actions">
  <input type="submit" value="{% if object %}{% trans "Save" %}{% else %}{% trans "Create" %}{% endif %}" class="btn btn-primary">
  {% if object %}<a href="{% url "network-delete" object.slug %}" class="btn btn-danger">{% trans "Delete" %}</a>{% endif %}
</div>
</form>
</div>
<div class="span4">
    <div id="map" style="width:512px; height:400px;"></div>
    <p class="text-center">{% trans "Click on the map to update network GEO coordinates" %}</p>
</div>
{% include "map_base.html" %}
<script defer="defer" type="text/javascript">
  function onMapClick(e) {
      $("#id_latitude").val( e.latlng.lat);
      $("#id_longitude").val( e.latlng.lng);
  }
  map.on('click', onMapClick);
</script>
{% endblock %}

