{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "List Networks" %}{% endblock %}

{% block extra_head %}{% include "map_header.html" %}{% endblock %}

{% block content %}
<div class="span5">
{% for object in object_list %}
  {% include "firmcreator/network_object.html" %}
{% endfor %}
</div>
<div class="span4">
  <div id="map" style="width:512px; height:400px;"></div>
  {% include "map_base.html" %}
  <script defer="defer" type="text/javascript">
  {% spaceless %}
  {% for object in object_list %}
    {% if object.latitude and object.longitude %}
      var marker = L.marker([{{ object.latitude }}, {{ object.longitude }}]).addTo(map);
      marker.bindPopup('<b><a href="#{{ object.slug }}">{{ object.name }}</a></b><br><small>{{ object.description }}</small>');
    {% endif %}
  {% endfor %}
  {% endspaceless %}
  </script>
</div>
{% endblock %}

