{% extends "base.html" %}
{% load i18n crispy_forms_tags utils %}

{% block title %}{% if object %}{% trans "Edit" %}{% else %}{% trans "Create" %}{% endif %}{% trans " SSH Key" %}{% endblock %}


{% block content %}

<form class="form-horizontal" method="post" action=".">{% csrf_token %}

{{ form|crispy }}
<div class="form-actions">
  <input type="submit" value="{% if object %}{% trans "Save" %}{% else %}{% trans "Create" %}{% endif %}" class="btn btn-primary">
  {% if object %}<a href="{% url "sshkey-delete" object.pk %}" class="btn btn-danger">{% trans "Delete" %}</a>{% endif %}
</div>
</form>

{% endblock %}

